body {
  font-family: "Poiret One", cursive;
  letter-spacing: 1px;
}

input {
  border: 2px solid #c427fb;
  border-radius: 0 25px;
  padding: 15px 20px;
  color: #1f1d47;
  background-color: #e0d9ff;
  opacity: 0.8;
}
form {
  display: inline;
}
ul {
  list-style: none;
  padding-left: 0;
}
li {
  font-size: 15px;
}
li:firs-letter {
  text-transform: capitalize;
}
li #icon {
  width: 70px;
}
small a {
  text-decoration: none;
  color: #c427fb;
}
.weather-app-wrapper {
  max-width: 600px;
  text-align: center;
  margin: 50px auto;
}
.weather-app {
  border: 2px solid gray;
  border-radius: 0 170px;
  padding: 40px 10px;
  color: white;
  background: radial-gradient(#f7cbfd 0%, #7758d1 100%);
  box-shadow: -40px 60px 150px rgba(59, 38, 123, 0.7);
}
.search {
  margin-top: 40px;
  margin-bottom: 15px;
}
.search-button {
  border: 2px solid #c427fb;
  color: #1f1d47;
  opacity: 0.8;
  border-radius: 0 20px;
  padding: 15px 20px;
  font-weight: 700;
  background-color: #e0d9ff;
}
.box-item h1 {
  font-size: 45px;
  color: #48319d;
  text-transform: capitalize;
}
.box-item h2 {
  height: 46px;
  padding-top: 16px;
}
.limitation {
  color: #48319d;
}

.box-item h3 .number {
  font-size: 80px;
  margin-top: 10px;
}
.forecast-wrapper {
  border-bottom: 1px solid #e0d9ff44;
  margin-bottom: 15px;
  padding-bottom: 15px;
}
.forecast-wrapper:last-child {
  border-bottom: none;
  padding-bottom: 0;
  margin-bottom: 0;
}

.forecast {
  border: 2px solid #c427fb;
  background-color: transparent;
  border-radius: 0 15px;
  width: 152px;
  text-align: left;
  padding: 10px;
  margin: 0 auto;
  border-bottom-width: 6px;
  position: relative;
}
.forecast .forecast-day {
  display: inline-block;
  width: 85px;
  color: #482796;
  font-weight: 700;
}
.forecast .forecast-temp {
  display: inline-block;
  text-shadow: 2px 2px 0 #482796;
}

.icon {
  position: absolute;
  right: -35px;
  top: 0;
  text-align: center;
  width: 70px;
}
